h1{
    text-align: center;
}
*{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}
div{
    text-align: center;
}
h2{
    font-size: 30px;
}
img{
    padding: 30px;
}
ul{
    padding: 30px;
    font-size: 30px;
}
h3{
    font-size: 35px;
}
p{
    font-size: 20px;
}
